<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="articles">
                {{#each key}}
                <div class="article" id="{{this._id}}">
                    <h4>{{this.title}}</h4>
                    <a href={{this.url}} target="_blank">Link</a>
                    <p>{{this.teaser}}</p>
                </div>
                {{/each}}
            </div>      
        </div>
        <div class="col-6">
            <div class="row">
                <div class="notes col-12" style="display: none">
                    <div class="note">
                        <div class="form-group">
                            <input type="text" id="noteTitle" placeholder="Note Title">
                            <hr>
                            <textarea class="form-control" rows="5" id="noteText" placeholder="Note Text"></textarea>
                            <button class="btn btn-outline-success" id="saveButton">Save</button>
                            <button class="btn btn-outline-secondary" id="noteButton">Show Note</button>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-12">
                    <h5 id="savedNoteTitle"></h5>
                    <hr>
                    <p id="savedNoteText"></p>
                </div>
            </div>
        </div>
    </div>
</div>