<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="articles">
                {{#each key}}
                <div class="article">
                    <h4>{{this.title}}</h4>
                    <a href={{this.url}} target="_blank">Link</a>
                    <p>{{this.teaser}}</p>
                </div>
                {{/each}}
            </div>      
        </div>
        <div class="col-6">
           <div class="notes" style="display: none">
                <div class="note">
                    <div class="form-group">
                        <input type="text" id="noteTitle" placeholder="Note Title">
                        <hr>
                        <textarea class="form-control" rows="5" id="noteText" placeholder="Note Text"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>